* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'PT Sans', Arial, sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
	/*font-weight: 300;*/
	/*font-size: 15px;*/
	padding-left: 18%;
	padding-right: 18%;
	min-width: 580px;
	max-width: 980px;
}



p {
	padding-bottom: 0.5em;
}

/*Блок меню*/
.b-menu {
	font-size: 13px;
	padding: 12px;
	/*background-color: #ededed;*/
}

.b-menu__item {
	/*display: block;*/
	list-style: none;
	padding: 4px;
}

.b-menu__item_state_active {
	background-color: #ddd;
}

/*Для вложенного элемента горизонтального меню задаётся отображение*/
.b-menu_layout_horiz .b-menu__item {
	display: inline-block;
}

/*.b-menu_theme_yellow {
	background-color: yellow;
}*/

/*.b-menu_theme_red {
	color: black;
	background-color: red;
}*/

.b-header {
	display: block;
	margin-top: 2%;
}

.b-header a {
	color: black;
}

.b-header__name_color_red {
	display: inline-block;
	color: red;
}

.name {
	float: left;
}

.b-header .b-menu {
	text-transform: uppercase;
	float: right;
	padding: 4px 0 0 0;
}

.b-header .b-menu .b-menu__item {
	padding-left: 12px;
	padding-right: 12px;
}

.b-header-menu p {
	float: left;
	/*text-align: center;*/
	width: 25%;
}

.b-photo {
	width: 25%;
	margin-top: 2%;
	float: left;
	background-color: #ededed;

	clear: both;
}

.b-photo__image_corner_round {
	border-radius: 6px;
}

.b-photo__image {
	width: 100%;
}

.b-photo__image_shadow_yes {
	box-shadow: 0 0 4px black;
}

.b-content {
	width: 73%;
	margin-left: 2%;
	margin-top: 2%;
	float: right;
}

.b-content__item {
	margin-bottom: 1em;
}

/*.b-content__item h3 {
	background-color: orange;
}*/

.b-footer {
	clear: both;
}